# build output
dist/
.astro/

# dependencies
node_modules/

# openapi client
.client/

# logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env*.local

# macOS-specific files
.DS_Store

# Local Vercel folder
.vercel

# cache files
.eslintcache
.netlify

# playwright
playwright-report/
test-results/
