---
import { Image } from 'astro:assets';
import { button } from '~/styles.ts';
import Card from '~/components/ui/Card.tsx';

export interface Props {
	name: string;
	slug: string;
	imageUrl?: string;
	cta?: string;
}
---

<Card>
	<a href={`/collections/${Astro.props.slug}`} class="w-full">
		<article class="flex flex-col items-start gap-3 p-6">
			{
				Astro.props.imageUrl && (
					// inferSize needs a full URL to work
					<Image
						src={new URL(Astro.props.imageUrl, Astro.url.origin).href}
						alt=""
						class="aspect-square self-center"
						loading="lazy"
						inferSize
						widths={[390, 390 * 1.5, 390 * 2]}
						sizes="(min-width: 1024px) 390px, 90vw"
					/>
				)
			}
			<p class="text-pretty text-3xl font-semibold">
				{Astro.props.name}
			</p>
			<p class={button()}>
				{Astro.props.cta ?? 'Shop now'}
			</p>
		</article>
	</a>
</Card>
